--
-- PostgreSQL database dump
--

\restrict Mli4pOCzjusfkRfho1C6JADjpPIASqIwPsAcFPkNpTaCnbKgzueDQr22918d3UQ

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: sk_civil_db_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO sk_civil_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO sk_civil_db_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO sk_civil_db_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO sk_civil_db_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO sk_civil_db_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO sk_civil_db_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO sk_civil_db_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_billpayment; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_billpayment (
    id bigint NOT NULL,
    bill_type character varying(20) NOT NULL,
    reference character varying(100) NOT NULL,
    amount double precision NOT NULL,
    paid_on date NOT NULL
);


ALTER TABLE public.civil_app_billpayment OWNER TO sk_civil_db_user;

--
-- Name: civil_app_billpayment_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_billpayment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_billpayment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_civiladvance; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_civiladvance (
    id bigint NOT NULL,
    date date NOT NULL,
    amount double precision NOT NULL,
    remarks character varying(255) NOT NULL,
    site_id bigint NOT NULL,
    team_id bigint NOT NULL
);


ALTER TABLE public.civil_app_civiladvance OWNER TO sk_civil_db_user;

--
-- Name: civil_app_civiladvance_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_civiladvance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_civiladvance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_civildailywork; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_civildailywork (
    id bigint NOT NULL,
    date date NOT NULL,
    team_id bigint NOT NULL,
    helper_full integer NOT NULL,
    helper_half integer NOT NULL,
    labour_amount double precision NOT NULL,
    mason_full integer NOT NULL,
    mason_half integer NOT NULL,
    site_id bigint NOT NULL,
    total_amount double precision NOT NULL,
    allowance_type character varying(50) NOT NULL,
    extra_allowance double precision NOT NULL,
    advance_amount double precision NOT NULL
);


ALTER TABLE public.civil_app_civildailywork OWNER TO sk_civil_db_user;

--
-- Name: civil_app_civildailywork_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_civildailywork ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_civildailywork_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_defaultrate; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_defaultrate (
    id bigint NOT NULL,
    full_day_rate integer NOT NULL,
    department_id bigint NOT NULL,
    is_locked boolean NOT NULL,
    effective_from date
);


ALTER TABLE public.civil_app_defaultrate OWNER TO sk_civil_db_user;

--
-- Name: civil_app_defaultrate_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_defaultrate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_defaultrate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_department; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_department (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.civil_app_department OWNER TO sk_civil_db_user;

--
-- Name: civil_app_department_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_department ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_departmentwork; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_departmentwork (
    id bigint NOT NULL,
    date date NOT NULL,
    full_day_count integer NOT NULL,
    half_day_count integer NOT NULL,
    full_day_rate integer NOT NULL,
    half_day_rate integer NOT NULL,
    department_id bigint NOT NULL,
    labour_amount integer NOT NULL,
    site_id bigint NOT NULL,
    advance_amount double precision NOT NULL,
    total_amount double precision NOT NULL
);


ALTER TABLE public.civil_app_departmentwork OWNER TO sk_civil_db_user;

--
-- Name: civil_app_departmentwork_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_departmentwork ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_departmentwork_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_materialentry; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_materialentry (
    id bigint NOT NULL,
    date date NOT NULL,
    name character varying(100) NOT NULL,
    quantity double precision NOT NULL,
    unit character varying(20) NOT NULL,
    rate double precision NOT NULL,
    total double precision NOT NULL,
    site_id bigint NOT NULL,
    agent_name character varying(100) CONSTRAINT civil_app_materialentry_agentname_not_null NOT NULL,
    advance double precision NOT NULL
);


ALTER TABLE public.civil_app_materialentry OWNER TO sk_civil_db_user;

--
-- Name: civil_app_materialentry_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_materialentry ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_materialentry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_otherexpense; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_otherexpense (
    id bigint NOT NULL,
    date date NOT NULL,
    amount double precision NOT NULL,
    site_id bigint NOT NULL,
    owner_id bigint,
    notes character varying(255) NOT NULL,
    title character varying(150) NOT NULL
);


ALTER TABLE public.civil_app_otherexpense OWNER TO sk_civil_db_user;

--
-- Name: civil_app_otherexpense_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_otherexpense ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_otherexpense_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_owner; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_owner (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.civil_app_owner OWNER TO sk_civil_db_user;

--
-- Name: civil_app_owner_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_owner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_owner_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_ownercashentry; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_ownercashentry (
    id bigint NOT NULL,
    date date NOT NULL,
    amount double precision NOT NULL,
    notes character varying(200) NOT NULL,
    owner_id bigint NOT NULL
);


ALTER TABLE public.civil_app_ownercashentry OWNER TO sk_civil_db_user;

--
-- Name: civil_app_ownercashentry_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_ownercashentry ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_ownercashentry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_site; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_site (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    owner character varying(100) NOT NULL
);


ALTER TABLE public.civil_app_site OWNER TO sk_civil_db_user;

--
-- Name: civil_app_site_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_sitedailynote; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_sitedailynote (
    id bigint NOT NULL,
    date date NOT NULL,
    description text NOT NULL,
    site_id bigint NOT NULL
);


ALTER TABLE public.civil_app_sitedailynote OWNER TO sk_civil_db_user;

--
-- Name: civil_app_sitedailynote_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_sitedailynote ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_sitedailynote_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_sitedailynotea; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_sitedailynotea (
    id bigint NOT NULL,
    date date NOT NULL,
    description text NOT NULL,
    site_id bigint NOT NULL
);


ALTER TABLE public.civil_app_sitedailynotea OWNER TO sk_civil_db_user;

--
-- Name: civil_app_sitedailynotea_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_sitedailynotea ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_sitedailynotea_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_team; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_team (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.civil_app_team OWNER TO sk_civil_db_user;

--
-- Name: civil_app_team_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_team ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_team_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: civil_app_teamrate; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.civil_app_teamrate (
    id bigint NOT NULL,
    helper_full_rate integer CONSTRAINT civil_app_teamrate_full_day_rate_not_null NOT NULL,
    from_date date NOT NULL,
    team_id bigint NOT NULL,
    mason_full_rate integer NOT NULL,
    is_locked boolean NOT NULL,
    effective_from date
);


ALTER TABLE public.civil_app_teamrate OWNER TO sk_civil_db_user;

--
-- Name: civil_app_teamrate_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.civil_app_teamrate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.civil_app_teamrate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO sk_civil_db_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO sk_civil_db_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO sk_civil_db_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: sk_civil_db_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO sk_civil_db_user;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$AWcT9KXa0XMvSC4iSakmAw$UST69hQhUHAThzfLvMBu/jXBgewsjLbXM9gE4bf93Ws=	2026-04-03 09:44:37.000389+00	t	Kalyani			kk@gmail.com	t	t	2026-02-18 14:29:03.525204+00
2	pbkdf2_sha256$1000000$Dnb0ASihZKMOWMZOUC0lke$NvnA3aZs79S9HjSrjr04YXRBZZEHyONLf6FjbmfXto0=	2026-03-14 02:12:00.574349+00	f	Mutharasu				t	t	2026-02-18 15:58:10+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: civil_app_billpayment; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_billpayment (id, bill_type, reference, amount, paid_on) FROM stdin;
\.


--
-- Data for Name: civil_app_civiladvance; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Data for Name: civil_app_civildailywork; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Data for Name: civil_app_defaultrate; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_defaultrate (id, full_day_rate, department_id, is_locked, effective_from) FROM stdin;
2	1000	3	f	\N
6	1300	7	f	\N
3	1000	4	f	\N
5	1000	6	f	\N
7	1000	8	f	\N
8	1000	9	f	\N
9	1000	10	f	\N
11	1250	12	f	\N
1	800	2	f	\N
12	1000	13	f	\N
13	1250	14	f	\N
15	1250	16	f	\N
16	1250	17	f	\N
17	1000	18	f	\N
\.


--
-- Data for Name: civil_app_department; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_department (id, name) FROM stdin;
1	Civil
2	Electrical
3	Carpenter
4	Plumbing
6	Tiles
7	Misc
8	Centering(NallaThambi)
9	Painter(Viji)
10	Painter(Roshan)
12	Electrical_2
13	Centring(Ganesan)
14	Concrete Gang
15	Painting
16	Electrician1_Cuttingwrk
17	Plumber_1
18	Tiles_New
\.


--
-- Data for Name: civil_app_departmentwork; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Data for Name: civil_app_materialentry; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Data for Name: civil_app_otherexpense; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_otherexpense (id, date, amount, site_id, owner_id, notes, title) FROM stdin;
24	2026-03-13	580	1	\N		Fibremesh 2Nos
25	2026-03-13	400	1	\N		Bond 4Nos
36	2026-03-13	1876	8	\N		Terminator  5ltr
37	2026-03-13	300	8	\N		Concrete Labour Tea & water
31	2026-03-12	130	1	\N		Cover Block(1 Box)
32	2026-03-12	60	1	\N		Concrete Shoe Rental(3Nos)
33	2026-03-12	200	1	\N		Vibrator Rental(1 No)
34	2026-03-12	150	1	\N		LED Tubelight (1 No)
35	2026-03-12	10	1	\N		Insulation Tape(1 No)
\.


--
-- Data for Name: civil_app_owner; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_owner (id, name) FROM stdin;
1	Immanuel
3	Madhu
\.


--
-- Data for Name: civil_app_ownercashentry; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_ownercashentry (id, date, amount, notes, owner_id) FROM stdin;
\.


--
-- Data for Name: civil_app_site; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_site (id, name, owner) FROM stdin;
1	Abirami Nagar	
2	Muthiahpuram	
3	MDA Colony	
4	Sivasakthi Nagar	
5	Grace Nagar	
6	Machodu Nagar1	
7	Machodu Nagar2	
8	Pudukottai	
9	RajaGopal Nagar	
10	BaviSri Nagar1	
11	BaviSri Nagar2	
12	New BusStand	
13	Mattakadai	
14	Tharuvaikulam	
15	GP Colony	
16	Kulathoor	
17	Karuna Stores	
18	Imman	
\.


--
-- Data for Name: civil_app_sitedailynote; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Data for Name: civil_app_sitedailynotea; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_sitedailynotea (id, date, description, site_id) FROM stdin;
\.


--
-- Data for Name: civil_app_team; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_team (id, name) FROM stdin;
1	Basker Team
2	Kerela Team
3	Mahesh Team
4	Trichy Team
5	Suresh Team
6	Trichy Team_Ratework
7	Madurai Team
\.


--
-- Data for Name: civil_app_teamrate; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.civil_app_teamrate (id, helper_full_rate, from_date, team_id, mason_full_rate, is_locked, effective_from) FROM stdin;
4	950	2026-02-01	4	1250	f	\N
2	1000	2026-02-01	2	1250	f	\N
1	1100	2026-02-01	1	1350	f	2026-02-15
5	1300	2026-02-01	5	1300	f	\N
3	1000	2026-02-01	3	1300	f	\N
6	950	2026-03-01	6	1250	f	2026-03-01
7	1000	2026-03-01	7	1300	f	2026-03-01
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	civil_app	department
8	civil_app	site
9	civil_app	departmentwork
10	civil_app	team
11	civil_app	civildailywork
12	civil_app	teamrate
13	civil_app	defaultrate
14	civil_app	civiladvance
15	civil_app	materialentry
16	civil_app	billpayment
17	civil_app	sitedailynote
18	civil_app	sitedailynotea
19	civil_app	otherexpense
20	civil_app	owner
21	civil_app	ownercashentry
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: sk_civil_db_user
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 84, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: civil_app_billpayment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_billpayment_id_seq', 1, false);


--
-- Name: civil_app_civiladvance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_civiladvance_id_seq', 566, true);


--
-- Name: civil_app_civildailywork_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_civildailywork_id_seq', 243, true);


--
-- Name: civil_app_defaultrate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_defaultrate_id_seq', 17, true);


--
-- Name: civil_app_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_department_id_seq', 18, true);


--
-- Name: civil_app_departmentwork_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_departmentwork_id_seq', 120, true);


--
-- Name: civil_app_materialentry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_materialentry_id_seq', 52, true);


--
-- Name: civil_app_otherexpense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_otherexpense_id_seq', 37, true);


--
-- Name: civil_app_owner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_owner_id_seq', 3, true);


--
-- Name: civil_app_ownercashentry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_ownercashentry_id_seq', 2, true);


--
-- Name: civil_app_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_site_id_seq', 18, true);


--
-- Name: civil_app_sitedailynote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_sitedailynote_id_seq', 123, true);


--
-- Name: civil_app_sitedailynotea_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_sitedailynotea_id_seq', 1, false);


--
-- Name: civil_app_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_team_id_seq', 7, true);


--
-- Name: civil_app_teamrate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.civil_app_teamrate_id_seq', 7, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 19, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 21, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sk_civil_db_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 52, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: civil_app_billpayment civil_app_billpayment_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_billpayment
    ADD CONSTRAINT civil_app_billpayment_pkey PRIMARY KEY (id);


--
-- Name: civil_app_civiladvance civil_app_civiladvance_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_civiladvance
    ADD CONSTRAINT civil_app_civiladvance_pkey PRIMARY KEY (id);


--
-- Name: civil_app_civiladvance civil_app_civiladvance_site_id_team_id_date_0df86cf2_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_civiladvance
    ADD CONSTRAINT civil_app_civiladvance_site_id_team_id_date_0df86cf2_uniq UNIQUE (site_id, team_id, date);


--
-- Name: civil_app_civildailywork civil_app_civildailywork_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_civildailywork
    ADD CONSTRAINT civil_app_civildailywork_pkey PRIMARY KEY (id);


--
-- Name: civil_app_civildailywork civil_app_civildailywork_site_id_team_id_date_6a1b3366_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_civildailywork
    ADD CONSTRAINT civil_app_civildailywork_site_id_team_id_date_6a1b3366_uniq UNIQUE (site_id, team_id, date);


--
-- Name: civil_app_defaultrate civil_app_defaultrate_department_id_eb5fc6f1_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_defaultrate
    ADD CONSTRAINT civil_app_defaultrate_department_id_eb5fc6f1_uniq UNIQUE (department_id);


--
-- Name: civil_app_defaultrate civil_app_defaultrate_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_defaultrate
    ADD CONSTRAINT civil_app_defaultrate_pkey PRIMARY KEY (id);


--
-- Name: civil_app_department civil_app_department_name_113b5128_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_department
    ADD CONSTRAINT civil_app_department_name_113b5128_uniq UNIQUE (name);


--
-- Name: civil_app_department civil_app_department_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_department
    ADD CONSTRAINT civil_app_department_pkey PRIMARY KEY (id);


--
-- Name: civil_app_departmentwork civil_app_departmentwork_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_departmentwork
    ADD CONSTRAINT civil_app_departmentwork_pkey PRIMARY KEY (id);


--
-- Name: civil_app_departmentwork civil_app_departmentwork_site_id_department_id_da_756b09ba_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_departmentwork
    ADD CONSTRAINT civil_app_departmentwork_site_id_department_id_da_756b09ba_uniq UNIQUE (site_id, department_id, date);


--
-- Name: civil_app_materialentry civil_app_materialentry_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_materialentry
    ADD CONSTRAINT civil_app_materialentry_pkey PRIMARY KEY (id);


--
-- Name: civil_app_otherexpense civil_app_otherexpense_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_otherexpense
    ADD CONSTRAINT civil_app_otherexpense_pkey PRIMARY KEY (id);


--
-- Name: civil_app_owner civil_app_owner_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_owner
    ADD CONSTRAINT civil_app_owner_pkey PRIMARY KEY (id);


--
-- Name: civil_app_ownercashentry civil_app_ownercashentry_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_ownercashentry
    ADD CONSTRAINT civil_app_ownercashentry_pkey PRIMARY KEY (id);


--
-- Name: civil_app_site civil_app_site_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_site
    ADD CONSTRAINT civil_app_site_pkey PRIMARY KEY (id);


--
-- Name: civil_app_sitedailynote civil_app_sitedailynote_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_sitedailynote
    ADD CONSTRAINT civil_app_sitedailynote_pkey PRIMARY KEY (id);


--
-- Name: civil_app_sitedailynote civil_app_sitedailynote_site_id_date_2886e774_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_sitedailynote
    ADD CONSTRAINT civil_app_sitedailynote_site_id_date_2886e774_uniq UNIQUE (site_id, date);


--
-- Name: civil_app_sitedailynotea civil_app_sitedailynotea_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_sitedailynotea
    ADD CONSTRAINT civil_app_sitedailynotea_pkey PRIMARY KEY (id);


--
-- Name: civil_app_sitedailynotea civil_app_sitedailynotea_site_id_date_da1b97da_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_sitedailynotea
    ADD CONSTRAINT civil_app_sitedailynotea_site_id_date_da1b97da_uniq UNIQUE (site_id, date);


--
-- Name: civil_app_team civil_app_team_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_team
    ADD CONSTRAINT civil_app_team_pkey PRIMARY KEY (id);


--
-- Name: civil_app_teamrate civil_app_teamrate_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_teamrate
    ADD CONSTRAINT civil_app_teamrate_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: civil_app_civiladvance_site_id_44486bcc; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_civiladvance_site_id_44486bcc ON public.civil_app_civiladvance USING btree (site_id);


--
-- Name: civil_app_civiladvance_team_id_5a211879; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_civiladvance_team_id_5a211879 ON public.civil_app_civiladvance USING btree (team_id);


--
-- Name: civil_app_civildailywork_site_id_d2b2acac; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_civildailywork_site_id_d2b2acac ON public.civil_app_civildailywork USING btree (site_id);


--
-- Name: civil_app_civildailywork_team_id_f8572614; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_civildailywork_team_id_f8572614 ON public.civil_app_civildailywork USING btree (team_id);


--
-- Name: civil_app_department_name_113b5128_like; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_department_name_113b5128_like ON public.civil_app_department USING btree (name varchar_pattern_ops);


--
-- Name: civil_app_departmentwork_department_id_1664f3f4; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_departmentwork_department_id_1664f3f4 ON public.civil_app_departmentwork USING btree (department_id);


--
-- Name: civil_app_departmentwork_site_id_1ffb03d8; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_departmentwork_site_id_1ffb03d8 ON public.civil_app_departmentwork USING btree (site_id);


--
-- Name: civil_app_materialentry_site_id_74d5c9e1; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_materialentry_site_id_74d5c9e1 ON public.civil_app_materialentry USING btree (site_id);


--
-- Name: civil_app_otherexpense_owner_id_36a69fe7; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_otherexpense_owner_id_36a69fe7 ON public.civil_app_otherexpense USING btree (owner_id);


--
-- Name: civil_app_otherexpense_site_id_12659651; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_otherexpense_site_id_12659651 ON public.civil_app_otherexpense USING btree (site_id);


--
-- Name: civil_app_ownercashentry_owner_id_2e129813; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_ownercashentry_owner_id_2e129813 ON public.civil_app_ownercashentry USING btree (owner_id);


--
-- Name: civil_app_sitedailynote_site_id_b4520b2c; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_sitedailynote_site_id_b4520b2c ON public.civil_app_sitedailynote USING btree (site_id);


--
-- Name: civil_app_sitedailynotea_site_id_d79dda03; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_sitedailynotea_site_id_d79dda03 ON public.civil_app_sitedailynotea USING btree (site_id);


--
-- Name: civil_app_teamrate_team_id_2f227dd0; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX civil_app_teamrate_team_id_2f227dd0 ON public.civil_app_teamrate USING btree (team_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: sk_civil_db_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_civiladvance civil_app_civiladvance_site_id_44486bcc_fk_civil_app_site_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_civiladvance
    ADD CONSTRAINT civil_app_civiladvance_site_id_44486bcc_fk_civil_app_site_id FOREIGN KEY (site_id) REFERENCES public.civil_app_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_civiladvance civil_app_civiladvance_team_id_5a211879_fk_civil_app_team_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_civiladvance
    ADD CONSTRAINT civil_app_civiladvance_team_id_5a211879_fk_civil_app_team_id FOREIGN KEY (team_id) REFERENCES public.civil_app_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_civildailywork civil_app_civildailywork_site_id_d2b2acac_fk_civil_app_site_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_civildailywork
    ADD CONSTRAINT civil_app_civildailywork_site_id_d2b2acac_fk_civil_app_site_id FOREIGN KEY (site_id) REFERENCES public.civil_app_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_civildailywork civil_app_civildailywork_team_id_f8572614_fk_civil_app_team_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_civildailywork
    ADD CONSTRAINT civil_app_civildailywork_team_id_f8572614_fk_civil_app_team_id FOREIGN KEY (team_id) REFERENCES public.civil_app_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_defaultrate civil_app_defaultrat_department_id_eb5fc6f1_fk_civil_app; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_defaultrate
    ADD CONSTRAINT civil_app_defaultrat_department_id_eb5fc6f1_fk_civil_app FOREIGN KEY (department_id) REFERENCES public.civil_app_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_departmentwork civil_app_department_department_id_1664f3f4_fk_civil_app; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_departmentwork
    ADD CONSTRAINT civil_app_department_department_id_1664f3f4_fk_civil_app FOREIGN KEY (department_id) REFERENCES public.civil_app_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_departmentwork civil_app_departmentwork_site_id_1ffb03d8_fk_civil_app_site_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_departmentwork
    ADD CONSTRAINT civil_app_departmentwork_site_id_1ffb03d8_fk_civil_app_site_id FOREIGN KEY (site_id) REFERENCES public.civil_app_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_materialentry civil_app_materialentry_site_id_74d5c9e1_fk_civil_app_site_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_materialentry
    ADD CONSTRAINT civil_app_materialentry_site_id_74d5c9e1_fk_civil_app_site_id FOREIGN KEY (site_id) REFERENCES public.civil_app_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_otherexpense civil_app_otherexpense_owner_id_36a69fe7_fk_civil_app_owner_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_otherexpense
    ADD CONSTRAINT civil_app_otherexpense_owner_id_36a69fe7_fk_civil_app_owner_id FOREIGN KEY (owner_id) REFERENCES public.civil_app_owner(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_otherexpense civil_app_otherexpense_site_id_12659651_fk_civil_app_site_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_otherexpense
    ADD CONSTRAINT civil_app_otherexpense_site_id_12659651_fk_civil_app_site_id FOREIGN KEY (site_id) REFERENCES public.civil_app_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_ownercashentry civil_app_ownercashe_owner_id_2e129813_fk_civil_app; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_ownercashentry
    ADD CONSTRAINT civil_app_ownercashe_owner_id_2e129813_fk_civil_app FOREIGN KEY (owner_id) REFERENCES public.civil_app_owner(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_sitedailynote civil_app_sitedailynote_site_id_b4520b2c_fk_civil_app_site_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_sitedailynote
    ADD CONSTRAINT civil_app_sitedailynote_site_id_b4520b2c_fk_civil_app_site_id FOREIGN KEY (site_id) REFERENCES public.civil_app_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_sitedailynotea civil_app_sitedailynotea_site_id_d79dda03_fk_civil_app_site_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_sitedailynotea
    ADD CONSTRAINT civil_app_sitedailynotea_site_id_d79dda03_fk_civil_app_site_id FOREIGN KEY (site_id) REFERENCES public.civil_app_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: civil_app_teamrate civil_app_teamrate_team_id_2f227dd0_fk_civil_app_team_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.civil_app_teamrate
    ADD CONSTRAINT civil_app_teamrate_team_id_2f227dd0_fk_civil_app_team_id FOREIGN KEY (team_id) REFERENCES public.civil_app_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: sk_civil_db_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO sk_civil_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO sk_civil_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO sk_civil_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO sk_civil_db_user;


--
-- PostgreSQL database dump complete
--

\unrestrict Mli4pOCzjusfkRfho1C6JADjpPIASqIwPsAcFPkNpTaCnbKgzueDQr22918d3UQ

